<p>Where to go from here?</p>
<ul>
    <li><a href="/api/">API</a> - an API based on Django REST Framework tutorial</li>
    <li><a href="/dt">Date/Time</a> - Edpoint which returns current date/time</li>
    <li><a href="/exc">Unhandled Exception</a> - Endpoint with unhandled exception</li>
    <li><a href="/ht/">Health-check</a> - Health check endpoint using <a href="https://pypi.org/project/django-health-check/">django-health-check</a></li>
    <li><a href="/util/generate-traceparent">Generate TraceParent</a> - Generate W3C compliant traceparent</li>
    <li><a href="/util/show-request-headers">List Request Headers</a></li>
    <li><a href="util/show-date-time">Show Current Date-Time Indirect</a> - Invoke the /dt endpoint to get the current date/time.</li>
</ul>